# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr

# Environment
.env
.env.local

# Editor / OS
.vscode
.idea
.DS_Store
*.sw?
.vercel
.env*.local
public/audio/
scripts/*.onnx
scripts/*.bin
